$light-blue: #8be9fd;
$pale-yellow: #f1fa8c;
$pink: #ff79c6;
$light-pink: #f0c6f1;
$dark-pink: #db1d59;
$light-green: #50fa7b;
$pale-green: #0de643;
$jungle-green: #049027;
$purple: #bd93f9;
$dark-purple: #6272a4;
$deep-dark-purple: #243647;
$orange: #ffb86c;
$dark-orange: #f45d22;
$grey: #44475a;
$lighter-grey: #b3b7d3;
$light-grey: #616580;
$dark-grey: #282a36;
$darker-grey: #1c1e27;
$pale-red: #ff5555;
$white: #f8f8f2;

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif;
$family-sans-serif-title: 'Poppins', sans-serif;
$family-mono: 'Fira Mono', monospace;
$family-secondary: $family-sans-serif-title;
$primary: $purple;
$info: $dark-purple;
$warning: $pale-yellow;
$danger: $pale-red;
$success: $light-green;
$link: $pink;
$dark: $dark-grey;
$light: $white;